<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a5a8d7b4-f4cc-4713-bb2d-7f6aff455906/resourcegroups/Video-Rental20210705084241ResourceGroup/providers/Microsoft.Web/sites/aspnetmvcdemovideosrental</ResourceId>
    <ResourceGroup>Video-Rental20210705084241ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://aspnetmvcdemovideosrental.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aspnetmvcdemovideosrental.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>aspnetmvcdemovideosrental</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$aspnetmvcdemovideosrental</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Video_Rental.Models.ApplicationDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:video-rentaldbserver.database.windows.net,1433;Initial Catalog=Video-Rental_db;Persist Security Info=True;User ID=enddream;Password=5926fAter!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Video_Rental.Models.ApplicationDbContext, Video-Rental" MigrationConfiguration="Video_Rental.Migrations.Configuration, Video-Rental" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:video-rentaldbserver.database.windows.net,1433;Initial Catalog=Video-Rental_db;Persist Security Info=False;User ID=enddream;Password=5926fAter!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:video-rentaldbserver.database.windows.net,1433;Initial Catalog=Video-Rental_db;Persist Security Info=False;User ID=enddream;Password=5926fAter!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Video_Rental.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:video-rentaldbserver.database.windows.net,1433;Initial Catalog=Video-Rental_db;Persist Security Info=True;User ID=enddream;Password=5926fAter!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Video_Rental.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>