<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Video Rental</a>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href=/Customers>Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=/Movies>Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">@Html.ActionLink("Movies/Random", "Random", "Movies") </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">< Fix Text</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

